.error-page {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Pseudo-elemento para el efecto de desenfoque */
.error-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../images/back/back_1.webp");
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Aplica el desenfoque */
    z-index: -1;
}


.error-container {
    max-width: 600px;
}

.error-code {
    font-size: 12rem;
    font-weight: 900;
    background: linear-gradient(to right, #fff, rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: pulse 2s infinite;
    
}

.error-message {
    color: rgba(148, 0, 0, 0.9);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.btn-glass {
    background: linear-gradient(135deg, #e6e6e6, #004080); /* Azul financiero */
    border: 2px solid #C9A227; /* Borde dorado para un toque premium */
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 24px;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-glass:hover {
    background: linear-gradient(135deg, #004080, #0059b3); /* Azul más vibrante */
    border-color: #FFD700; /* Cambio de borde a dorado más brillante */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); /* Efecto de elevación */
}
