<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/error/error404.css" />
  
</head>
<body>
  <img src="/images/error.gif" alt="Error 400">
  <h1>Error 400 - Página no encontrada</h1>
  <p>Error 400 - Página no encontrada</p>
  <p><strong>Error 400 - Página no encontrada</strong></p>
  <a href="/" class="btn">Volver al inicio</a>
</body>
</html>
