<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= titulo_1 %></h1>
    <img src="../../../imagenes/Mi_perro_el_Maldito.jpg" alt="">
</body>
</html>