<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>
        <%= title %>
    </title>
    <!-- Site Metas -->
    <title>Raíz Financiera - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="css/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css" />

    <link rel="stylesheet" href="css/chat.css" />

</head>


<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="160">
    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="images/loader.gif" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="image"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                            <li><a href="mailto:exchang@gmail.com"><img src="images/mail_icon.png"
                                        alt="#" />RaizFinanciera@gmail.com</a></li>
                            <li><a href="tel:exchang@gmail.com"><img src="images/phone_icon.png"
                                        alt="#" />+56978449038</a></li>
                            <li>
                                <% if (!token) { %>
                                    <a class="join_bt" href="/login">Login</a>
                                    <% } else { %>
                                        <a class="join_bt" href="/logout">Cerrar Sesion</a>
                                        <% } %>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="header_bottom">
            <div class="container">
                <div class="col-sm-12">
                    <div class="menu_orange_section" style="background: #e6bc03;">
                        <nav class="navbar header-nav navbar-expand-lg">
                            <div class="menu_section">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                                    <<ul class="navbar-nav">
                                        <li><a class="nav-link active" href="#nosotros">Nosotros</a></li>
                                        <li><a class="nav-link" href="#intercambio">Intercambio</a></li>
                                        <!-- Actualizar enlaces para anclar a las secciones -->
                                        <li><a class="nav-link" href="#servicios">Servicios</a></li>
                                        <li><a class="nav-link" href="#proximamente">Próximamente</a></li>
                                        <li><a class="nav-link" href="#contacto">Contacto</a></li>
                                        </ul>

                                </div>
                            </div>
                        </nav>
                        <div class="search-box">
                            <input type="text" class="search-txt" placeholder="Buscar">
                            <a class="search-btn">
                                <img src="images/search_icon.png" alt="#" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <!-- chatbot mejorado -->
    <div id="chat-container">
        <button id="chat-button">💬</button>

        <div id="chat-box">
            <div id="chat-header">
                <span>🤖 Asistente Virtual</span>
                <button id="close-chat">✖</button>
            </div>

            <% if (!token) { %>
                <div id="chat-messages">
                    <p class="bot-message">🤖 ¡Hola! Bienvenido a nuestro servicio. Para ofrecerte la mejor experiencia,
                        por favor <strong>inicia sesión</strong> con tu cuenta.</p>

                    <div class="login-button-container">
                        <a href="/login" class="login-button">🔐 Iniciar Sesión</a>
                    </div>
                </div>

                <div id="chat-footer">
                    <input type="text" id="chat-input" placeholder="Escribe un mensaje..." disabled>
                    <button id="send-button" disabled>➤</button>
                </div>
                <% } else { %>
                    <div id="chat-messages">
                        <p class="bot-message">🤖 ¡Hola de nuevo! Estamos aquí para ayudarte a tomar decisiones
                            financieras informadas. Ofrecemos:</p>
                        <ul>
                            <p class="bot-message">💰 <strong>Préstamos personales</strong>, flexibles y adaptados a tus
                                necesidades.</p>
                            <p class="bot-message">💳 <strong>Tarjetas de crédito</strong>, con beneficios exclusivos
                                para ti.</p>
                            <p class="bot-message">🛡️ <strong>Seguros</strong> que brindan protección y tranquilidad
                                para ti y tu familia.</p>
                        </ul>
                        <p class="bot-message">Dime, ¿en qué puedo ayudarte hoy? ¡Estoy listo para asesorarte!</p>
                    </div>

                    <div id="chat-footer">
                        <input type="text" id="chat-input" placeholder="Escribe tu mensaje...">
                        <button id="send-button">➤</button>
                    </div>
                    <% } %>
        </div>
    </div>

    <!-- End header -->

    <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url(images/slide_img.png);">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                        <h3>Tu Futuro, tu Crédito<br><strong>Tu éxito</strong></h3>
                                        <br>
                                        <a class="start_exchange_bt" href="exchange.html">Inicia tu Crédito ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" style="background-image:url(images/slide_img.png);">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                        <h3> Solidez, tradición<br><strong> crecimiento</strong></h3>
                                        <br>
                                        <a class="start_exchange_bt" href="exchange.html">Intercambio de Moneda ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .pogoSlider -->
            </div>
        </div>
    </div>
    <!-- End Banner -->


    <!-- Start Nosotros Section -->
    <div id="nosotros" class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><span class="theme_color"></span>Nosotros</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <p>En Raíz Financiera, nos dedicamos a brindar soluciones financieras seguras, confiables y
                            accesibles para nuestros clientes. Nuestra misión es ofrecer productos y servicios que
                            mejoren la calidad de vida de las personas, apoyándolas en la toma de decisiones financieras
                            importantes, desde créditos personales hasta soluciones de inversión. Con años de
                            experiencia en el sector financiero, contamos con un equipo de expertos comprometidos con el
                            éxito y bienestar de nuestros clientes.</p>
                        <p>En Raíz Financiera, nos dedicamos a brindar soluciones financieras seguras, confiables y
                            accesibles para nuestros clientes. Nuestra misión es ofrecer productos y servicios que
                            mejoren la calidad de vida de las personas, apoyándolas en la toma de decisiones financieras
                            importantes, desde créditos personales hasta soluciones de inversión. Con años de
                            experiencia en el sector financiero, contamos con un equipo de expertos comprometidos con el
                            éxito y bienestar de nuestros clientes.</p>
                        <p>En Raíz Financiera, nos dedicamos a brindar soluciones financieras seguras, confiables y
                            accesibles para nuestros clientes. Nuestra misión es ofrecer productos y servicios que
                            mejoren la calidad de vida de las personas, apoyándolas en la toma de decisiones financieras
                            importantes, desde créditos personales hasta soluciones de inversión. Con años de
                            experiencia en el sector financiero, contamos con un equipo de expertos comprometidos con el
                            éxito y bienestar de nuestros clientes.</p>
                        <p>En Raíz Financiera, nos dedicamos a brindar soluciones financieras seguras, confiables y
                            accesibles para nuestros clientes. Nuestra misión es ofrecer productos y servicios que
                            mejoren la calidad de vida de las personas, apoyándolas en la toma de decisiones financieras
                            importantes, desde créditos personales hasta soluciones de inversión. Con años de
                            experiencia en el sector financiero, contamos con un equipo de expertos comprometidos con el
                            éxito y bienestar de nuestros clientes.</p>
                        <p>En Raíz Financiera, nos dedicamos a brindar soluciones financieras seguras, confiables y
                            accesibles para nuestros clientes. Nuestra misión es ofrecer productos y servicios que
                            mejoren la calidad de vida de las personas, apoyándolas en la toma de decisiones financieras
                            importantes, desde créditos personales hasta soluciones de inversión. Con años de
                            experiencia en el sector financiero, contamos con un equipo de expertos comprometidos con el
                            éxito y bienestar de nuestros clientes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Nosotros Section -->



    <!-- section -->
    <div id="intercambio" class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/monedas1.png" alt="Monedas" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2><span class="theme_color">Bienvenido</span> Intercambio</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>¿Necesitas cambiar dinero de forma segura y al mejor precio?En Raiz Financiera te ofrecemos
                            las mejores tasas del mercado y un servicio confiable para que realices tus transacciones
                            sin preocupaciones.</p>
                        <p>¿Necesitas cambiar dinero de forma segura y al mejor precio?En Raiz Financiera te ofrecemos
                            las mejores tasas del mercado y un servicio confiable para que realices tus transacciones
                            sin preocupaciones.</p>
                        <p>¿Necesitas cambiar dinero de forma segura y al mejor precio?En Raiz Financiera te ofrecemos
                            las mejores tasas del mercado y un servicio confiable para que realices tus transacciones
                            sin preocupaciones.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Saber Más ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end section -->
    <!-- section -->


    <div id="servicios" class="section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><span class="theme_color"></span>Servicios</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="images/seguros.png" alt="#" />
                        <h4>Protegido y Seguro</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="images/pidiendo_credito_de_consumo 3.png" alt="#" />
                        <h4>Crédito de Consumo</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="images/pidiendo_credito_hipotecario.png" alt="#" />
                        <h4>Crédito Hipotecario</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="images/Soporte.png" alt="#" />
                        <h4>Soporte de expertos</h4>
                    </div>
                </div>
            </div>
            <div class="row margin-top_30">
                <div class="col-sm-12">
                    <div class="full">
                        <div class="center">
                            <a class="main_bt" href="#">Click Aquí ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div id="solicitar-intercambio" class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text_align_right_img">
                    <img src="images/manos.png" alt="Solicitar Intercambio" class="img-fluid">
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2><span class="theme_color">Solicitar</span> Intercambio</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>"¡Haz un intercambio y lleva tu experiencia al siguiente nivel! Conéctate, comparte y recibe
                            lo que más necesitas. ¡No dejes pasar la oportunidad de crecer juntos!"</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Click Aquí ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2>Solicitar Crédito de Consumo</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>"¡Tus sueños al alcance de tu mano! Con nuestro Crédito de Consumo, consigue lo que siempre
                            quisiste de forma fácil, rápida y con condiciones irresistibles. ¡No esperes más, tu futuro
                            empieza ahora!"</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Click Aquí ></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/tarjeta.png" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="credito-hipotecario" class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text_align_right_img">
                    <img src="images/casa.png" alt="Crédito Hipotecario" class="img-fluid">
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2><span class="theme_color">Solicitar</span> Crédito de Hipotecario</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>"¡Impulsa tus proyectos inmobiliarios con el crédito que tu negocio necesita! Con nuestro
                            Crédito Hipotecario, tendrás todo el financiamiento que necesitas para construir el futuro.
                            Tasas excepcionales, plazos adaptados a tus necesidades y el respaldo que solo nosotros te
                            podemos ofrecer. ¡Es momento de construir grandes oportunidades!"</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Click Aqui ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->


    <div id="proximamente" class="section layout_padding padding_top_0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><span class="theme_color"></span><br>Próximamente<br></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="images/manomoneda.png" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="#">Vista</a></div>
                        <div class="blog_details">
                            <h3>Nueva Moneda</h3>
                            <p>Convierte tu dinero de manera segura y al mejor tipo de cambio, con la confianza y
                                respaldo de expertos en finanzas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="images/noticias.png" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="#">Vista</a></div>
                        <div class="blog_details">
                            <h3>Noticias</h3>
                            <p>Te traeremos las últimas noticias, productos y oportunidades para que tomes las mejores
                                decisiones con nosotros.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="images/seguro2.png" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="#">Vista</a></div>
                        <div class="blog_details">
                            <h3>Seguros</h3>
                            <p>Porque la vida es impredecible y el futuro incierto, pero tu tranquilidad no tiene
                                precio. Asegura tu futuro con nosotros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div id="contacto" class="section contact_form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><span class="theme_color"></span>Contacto</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                        <form class="contact_form_inner" action="#">
                            <fieldset>
                                <div class="field">
                                    <input type="text" name="name" placeholder="Nombre" />
                                </div>
                                <div class="field">
                                    <input type="email" name="email" placeholder="Email" />
                                </div>
                                <div class="field">
                                    <input type="text" name="phone_no" placeholder="Teléfono" />
                                </div>
                                <div class="field">
                                    <textarea placeholder="Mensaje"></textarea>
                                </div>
                                <div class="field center">
                                    <button>ENVIAR</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->


    <!-- end contact_form -->
    <!-- end section -->
    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img class="img-responsive" src="images/footer_logo.png" alt="#" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <h3>Enlaces Rápidos</h3>
                            </div>
                            <div class="full">
                                <ul class="menu_footer">
                                    <li><a href="home.html">> Nosotros</a></li>
                                    <li><a href="about.html">> Acerda de</a></li>
                                    <li><a href="exchange.html">> Intercambio</a></li>
                                    <li><a href="services.html">> Servicios</a></li>
                                    <li><a href="new.html">> Proximamente</a></li>
                                    <li><a href="contact.html">> Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                                    <h3>Noticias</h3>
                                    <p>No te pierdas ninguna novedad! Inscríbete con tu correo y recibe las últimas
                                        noticias, productos y oportunidades de nuestro banco financiero.</p>
                                    <div class="newsletter_form">
                                        <form action="index.html">
                                            <input type="email" placeholder="Ingresa Tu Correo" name="#" required="">
                                            <button>Subir</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                                    <h3>Contactanos</h3>
                                    <ul class="full">
                                        <li><img src="images/i5.png"><span> Avenida Central 1234<br>Santiago,
                                                Chile</span></li>
                                        <li><img src="images/i6.png"><span>RaizFinanciera@gmail.com</span></li>
                                        <li><img src="images/i7.png"><span>+56978449038</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyrights 2025 Grupo 2 Universidad Mayor</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.pogo-slider.min.js"></script>
    <script src="js/slider-index.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/chat.js"></script>

</body>



</html>