<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión / Registro</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="login-page">
    <div class="login-container">
        <!-- Formulario de inicio de sesión -->
        <form class="login-form" action="/login" method="POST" >
            <h2>Iniciar Sesión</h2>
            <div class="input-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" required>
            </div>
            <div class="input-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
            </div>
            <button type="submit">Ingresar</button>
            <p>¿No tienes una cuenta? <a href="/registro_usuario">Regístrate aquí</a></p>
        </form>
        <a href="/" class="join_bt">← Volver al Inicio</a>
    </div>
    
</body>
</html>

