<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizaci칩n del Contrato</title>
    <link rel="stylesheet" href="/css/PDF.css" />

    <link href="../../../css/PDF.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="pdf-viewer">
            <h1>游늯 Visualizaci칩n del Contrato Antes de la Firma</h1>

            <% if (vista_pdf) { %>
                <iframe src="../../PDF/<%= vista_pdf %>" allowfullscreen type="application/pdf"></iframe>
                <% } else { %>
                    <p class="error">El archivo PDF no est치 disponible.</p>
                    <% } %>

                        <div>
                            <a href="/" class="btn btn-secondary">Volver al Home</a>
                            <form action="/pdf" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-primary">Firmar Contrato</button>
                            </form>
                        </div>
        </div>

        <div class="legal-info">
            <h2>游닆 Instrucciones Legales para la Firma</h2>
            <p class="fw-bold">Importante: La firma mostrada es solo un ejemplo de visualizaci칩n, esta no corresponde a
                la firma original que ser치 guardada en nuestra base de datos.</p>
            <p>1. Revise el contenido del contrato antes de proceder con la firma.</p>
            <p>2. Aseg칰rese de que todos los datos personales sean correctos.</p>
            <p>3. La firma del contrato implica la aceptaci칩n de los t칠rminos y condiciones estipulados.</p>
            <p>4. En caso de dudas o discrepancias, comun칤quese con nuestro servicio de atenci칩n al cliente antes de
                firmar.</p>
            <p>5. Una vez firmado, el contrato ser치 vinculante y se almacenar치 de manera segura.</p>
            <p>6. Si usted NO desea continuar con el proceso, haga clic en "Volver al HOME" y se cancelar치 el proceso de
                contrato.</p>
        </div>
    </div>
</body>

</html>